absl-py==0.13.0
biopython==1.79
deepspeed==0.5.3
dm-tree==0.1.6
ml-collections==0.1.0
numpy==1.21.2
PyYAML==5.4.1
requests==2.26.0
scipy==1.7.1
torch==1.10.0
tqdm==4.62.2
typing-extensions==3.10.0.2
pytorch_lightning==1.5.0
git+git://github.com/NVIDIA/dllogger.git
