absl-py==0.13.0
biopython==1.79
biothings-client==0.2.6
certifi==2021.5.30
charset-normalizer==2.0.5
contextlib2==21.6.0
deepspeed==0.5.3
dm-tree==0.1.6
idna==3.2
ml-collections==0.1.0
mygene==3.2.2
ninja==1.10.2
numpy==1.21.2
packaging==21.0
plac==1.3.3
protobuf==3.18.0
psutil==5.8.0
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.26.0
scipy==1.7.1
six==1.16.0
tensorboardX==1.8
torch==1.9.0
tqdm==4.62.2
triton==1.0.0
typing-extensions==3.10.0.2
urllib3==1.26.6
pytorch_lightning==1.5.0
